<section id="about">
<div class="container about">
    <div class="about-header">
        <h2>About.</h2>
    </div>
    <div class="about-body">
        <about class="info">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, accusantium facilis dolorum vero consequatur repudiandae error dolores provident ipsam omnis! Illo perspiciatis consequatur, aut error quo accusantium odio! Dolorem quaerat maxime officia ipsam. Expedita quae quaerat ipsa, dolorem quidem ducimus aliquam unde nostrum, commodi dolor maxime. Error, id! Facere, eius.</p>
        </about>
    </div>
</div>
</section>