<section id="route">
<div class="container routes-out px-auto py-4">
    <div class="routes pl-4">
        <div class="routes-header pl-4">
                <h2 class="display-4 pl-4">Routing<span class="ml-1 dot"
                          style="color:orange">.</span></h2>
        </div>
        <div class="routes-body my-4 pl-4">
            <p class="pl-4">All HTTP methods are supported.</p>
            <div class="route-info pl-4">
                <table>
                    <tbody>
                        <tr>
                            <td>GET</td>
                            <td class="px-4"><a href="api/reviews">/reviews</a></td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td class="px-4"><a href="api/reviews/1">/reviews/1</a></td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td class="px-4"><a href="api/products">/products</a></td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td class="px-4"><a href="api/products/1/review">/products/1/reviews</a></td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td class="px-4"><a href="api/users">/users</a></td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td class="px-4"><a href="api/category">/category</a></td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td class="px-4"><a href="api/company">/company</a></td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td class="px-4"><a href="api/users/1/reviews">/users/1/reviews</a></td>
                        </tr>
                        <tr>
                            <td>POST</td>
                            <td class="px-4"><a href="api/reviews">/reviews</a></td>
                        </tr>
                        <tr>
                            <td>PUT</td>
                            <td class="px-4"><a href="api/reviews/1">/reviews/1</a></td>
                        </tr>
                        <tr>
                            <td>DELETE</td>
                            <td class="px-4"><a href="">/reviews</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</section>