<section>
<div class="container-fluid landing mx-0 mb-2 px-0 pb-2">
<div class="landing-image">
    <div class="caption">
        <div class="caption-header">
            <h1>GET JSONS</h1>
            <h3>FOR YOUR E-COMMERCE</h3>
        </div>
        <div class="caption-info">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati<br/> minima et quibusdam dignissimos at possimus!</p>

        </div>
        <div class="caption-button">
            <button type="button"
                    class="btn btn-primary">Discover More</button>
        </div>
    </div>
</div>
</div>
</section>
<section>
    <div class="container services mx-auto mt-4 pt-4">
        <div class="services-header text-center mr-4 pr-4">
                <h1>OUR SERVICES</h1>
        </div>

        <div class="card-service d-flex flex-wrap">
            <div class="card text-center border-0 mx-4 px-4"
                 style="width: 18rem;">
                <div class="mx-auto platform circle">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Card title</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>
        
            <div class="card text-center border-0 mx-4 px-4"
                 style="width: 18rem;">
                <div class="mx-auto innovation circle">
        
                </div>
                <div class="card-body">
                    <h2 class="card-title">Card title</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>
        
            <div class="card text-center border-0 mx-4 px-4"
                 style="width: 18rem;">
                <div class="mx-auto resource circle">
        
                </div>
                <div class="card-body">
                    <h2 class="card-title">Card title</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>
        </div>
    </div>

</section>
<section>

</section>